asgiref==3.9.1
black==25.1.0
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.2.1
colorama==0.4.6
Django==5.0
django-stubs==5.2.5
django-stubs-ext==5.2.5
dotenv==0.9.9
googlemaps==4.10.0
graphviz==0.21
idna==3.11
mypy==1.18.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.4.0
python-dotenv==1.1.1
requests==2.32.5
sqlparse==0.5.3
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
